/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --header-text-color: #000028;
  --font-size: 18px;
  --accent-color: #ff0070;
  --menu-color: #ff0070;
  --title-shadow: #ff0070;
  --ind: clamp(10px, 2.6041vw, 20px); /*отступ*/
  --visibility: visible;
  --background-image: image-set(
    url(../images/cover-image-dark.png) 1x,
    url(../images/cover-image.png) 2x
  );
}
